# Ignore the files from MatConvNet
doc/
examples/
matconvnet.xcodeproj/
matlab/
utils/

.gitattributes
.gitmodules
CONTRIBUTING.md
COPYING
Makefile
matconvnet.sln
matconvnet.vcxproj
matconvnet.vcxproj.filters
README_matconvnet.md

# Ignore the files of all the data from the images
ImageData/
NNData/
Results/
jaffe/

# Ignore taken code fr  om the University of Oulu
bsif_code_and_data/
Blanca_Media_min_y_max.m
jaffeimdb.mat